# Booking Configuration
BOOKING_URL=https://outlook.office365.com/book/GTAOfficeHours@gmuedu.onmicrosoft.com/
BOOKING_SERVICE="Office Hours 2 Hours"
BOOKING_STAFF="ENGR 4456 D7"
BOOKING_TIME_SLOT="2:00 PM"

# User Details
USER_NAME="First Last"
USER_EMAIL="email@example.com"
USER_PHONE=""
USER_ADDRESS=""
USER_NOTES=""

# Semester Settings
SEMESTER_START_DATE="2026-01-23"
SEMESTER_END_DATE="2026-05-01"
SKIP_DATES="2026-03-13" # Comma separated for multiple dates
